.main {
    width: 12rem;
    height: 20rem;
}
.card {
    position: relative;
    background-color: var(--white-color);
    width: 12rem;
    height: 17rem;
    border-radius: 0.65rem;
    cursor: pointer;
}
.banner {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 0.5rem;
}
.title-name {
    position: relative;
    margin-top: 6px;
    margin-left: 10px;
    color: var(--white-color);
}
