.main-section-wrapper {
    padding-bottom: 2rem;
}
.song-section {
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.space {
    margin-top: 10%;
}