@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
:root {
  --primary-color: #34c94b;
  --black-color: #121212;
  --white-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}
